.AboutUs{
    background: #e3edf7;
    padding: 110px 150px;
    display: flex;
    justify-content: space-between;
}
.Card1{
    width: 48%;
}
.Card2{
    width: 52%;
}
.Card2 p{
    font-size: 24px;
    color: #e70280;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin-bottom: 17px;
}
.Card2 h1{
    font-size: 48px;
    color: #08203a;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 24px;
}
.button1{
    color: #08203a;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
}
.button1, .button2,.Download{
    width: 170px;
    border: none;
    height: 50px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.button2{
    background-image: -webkit-gradient(linear, left top, right top, from(#590fb7), to(#ff0076));
    background-image: linear-gradient(to right, #590fb7 0%, #ff0076 100%);
    color: #ffffff;
}
.Buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Card2 h2{
    font-size: 16px;
    color: #7888a2;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 26px;
}
.Education{
    margin: 3rem 1.5rem;
}
.Education h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: #08203a;
    font-family: "Poppins", sans-serif;
    display: block;
    margin-bottom: 12px;
}
.Education h4{
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    color: #666666;
    font-weight: 400;
    display: block;
    margin-bottom: 2rem;
}
.Download{
    font-size: 16px;
    color: #08203a;
    font-weight: 700;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -o-border-image: linear-gradient(to right, #590fb7, #ff0076) 1;
    border-image: -webkit-gradient(linear, left top, right top, from(#590fb7), to(#ff0076)) 1;
    border-image: linear-gradient(to right, #590fb7, #ff0076) 1;
    position: relative;
    z-index: 0;
}
@media(min-width:0) and (max-width:750.9px){
    .AboutUs{
        background: #e3edf7;
        padding: 60px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Card1{
        width: 100%;

    }
    .Card1 img{
        width: 100%;
    }
    .Card2{
        width: 100%;
    }
    .Card2 p{
        font-size: 20px;
        color: #e70280;
        text-align: center;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        line-height: 1;
        margin-bottom: 17px;
    }
    .Card2 h1{
        font-size: 36px;
        text-align: center;

        width: 100%;
    }
    .Card2 h2{
        text-align: center;

    }
    .button1, .button2,.Download{
        width: 60%;
        margin: 0.4rem 0;
    }
    .Education{
        margin: 2rem 1.5rem;
        text-align: center;
    }
}
@media(min-width:751px) and (max-width:1220.9px){
    .AboutUs{
        background: #e3edf7;
        padding:30px 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Education{
        margin: 2rem 1.5rem;
        text-align: center;
    }
    .Card1{
        width: 100%;
        text-align: center;

    }
    .Card1 img{
     
        width: 70%;
    }
    .Card2{
        width: 100%;
    }
    .Card2 p{
        font-size: 20px;
        color: #e70280;
        text-align: center;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        line-height: 1;
        margin-bottom: 17px;
        margin-top: 1rem;
    }
    .Card2 h1{
        font-size: 36px;
        text-align: center;

        width: 100%;
    }
    .Card2 h2{
        text-align: center;
    }
    .button1, .button2,.Download{
        width: 60%;
        margin: 0.4rem 0;
    }
    .Download{
        margin: 0 auto;
    }
}
@media(min-width:1221px) and (max-width:1450px){
    .AboutUs{
        background: #e3edf7;
        padding:30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }  
}