.ant-drawer-left .ant-drawer-content-wrapper{
    width: 100% !important;
}
.ant-drawer-left .ant-drawer-header-title{
/* float: right !important;
    font-weight: bolder !important; */
    justify-content: flex-end !important;
}

.ant-drawer-left .anticon svg{
    font-size: 25px;
    font-weight: bolder !important;
}